.contact-form-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    min-height: 100vh;       /* Full viewport height */
    padding: 16px;           /* Padding for smaller screens */
  }
.contact-form {
    max-width: 600px;
    margin: 0 auto; /* Center the form horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    gap: 16px; /* Spacing between rows */
    margin-top: -60px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 16px; /* Evenly spaced gap between Name and Email inputs */
  }
  input {
    flex: 1; /* Equal width for both inputs */
  }
  input,
  textarea {
    width: 100%; /* Make inputs fill available space */
    padding: 5px;
    font-size: 14px;
    outline: none;

  }

  textarea {
    resize: none; /* Disable resizing for consistent layout */
    width: 100%;
  }
  .submit-button {
    font-size: 20px;
  }
  /* Responsive adjustments */
@media (max-width: 768px) {
    .form-row {
      flex-direction: column; /* Stack Name and Email vertically */
      gap: 8px;               /* Smaller gap for smaller screens */
    }
  
    .contact-form {
      padding: 16px;          /* Add padding to avoid content hitting screen edges */
    }
  }
